<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'users/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
    <nav class="navbar has-shadow">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <img src="{% static 'images/bulma-logo.png' %}" width="112" height="28" alt="logo">
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <figure class="image is-24x24">
                                {% if user.userprofile.image %}
                                    <img class="is-rounded" src="{{ MEDIA_URL }}{{ user.userprofile.image }}">
                                {% else %}
                                    <img class="is-rounded" src="{% static 'images/avatar1.JPG' %}">
                                {% endif %}
                            </figure>&nbsp;&nbsp;
                            {% if user.userprofile.nike_name %}
                                <span class="has-text-grey-dark">{{ user.userprofile.nike_name }}</span>
                            {% else %}
                                <span class="has-text-grey-dark">{{ user.username }}</span>
                            {% endif %}
                        </a>
                        <div class="navbar-dropdown">
                          <a class="navbar-item" href="{% url 'users:editor_users' %}">
                            Setting
                          </a>
                          <hr class="navbar-divider">
                          <a class="navbar-item" href="{% url 'users:logout' %}">
                            Exit
                          </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-2">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">Profile</p>
                            <a href="" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content menu">
                            <ul class="content menu-list">
                                <li><a href="{% url 'users:user_profile' %}">Intro</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">Posts</p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-content menu">
                                <ul class="content menu-list">
                                    <li><a href="">New Post</a></li>
                                    <li><a href="">Posted</a></li>
                                    <li><a href="">Drafts</a></li>
                                    <li><a href="">Comments</a></li>
                                    <li><a href="">Data Analysis</a></li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="column is-10">
                    <div class="box is-radiusless is-shadowless">
                        <div class="tabs">
                            <ul>
                              {% block title %}
                              <li class="is-active"><a>Account</a></li>
                              {% endblock %}
                            </ul>
                        </div>
                    {% block content %}
                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px; padding-bottom: 1rem">
                        <div class="column is-narrow">
                            <figure class="image is-96x96">
                                {% if user.userprofile.image %}
                                    <img class="is-rounded" src="{{ MEDIA_URL }}{{ user.userprofile.image }}">
                                {% else %}
                                    <img class="is-rounded" src=" {% static 'images/avatar1.JPG' %}">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="column is-narrow">
                            <div style="padding-top: 1.5rem;">
                                {% if user.userprofile.nike_name %}
                                    <h1 class="title is-size-4">{{ user.userprofile.nike_name }}</h1>
                                {% else %}
                                    <h1 class="title is-size-4">{{ user.username }}</h1>
                                {% endif %}
                                {% if user.userprofile.feature %}
                                    <p class="subtitle is-size-6">{{ user.userprofile.feature }}</p>
                                {% else %}
                                    <p class="subtitle is-size-6">This is a default bio</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="column is-narrow-mobile">
                            <a class=" button is-light is-pulled-right" href="{% url 'users:editor_users' %}" style="margin-top: 1.8rem">Edit</a>
                        </div>
                    </div>
                    <div class="columns" style="padding:1rem 0; ">
                        <div class="column is-2">
                            <p>Intro</p>
                        </div>
                        <div class="column">
                            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                <div class="column is-2">
                                   <span class=" has-text-grey-light">nickname</span>
                                </div>
                                    <div class="column is-narrow">
                                        {% if user.userprofile.nike_name %}
                                            <span class=" has-text-black-ter">{{ user.userprofile.nike_name }}</span>
                                        {% else %}
                                            <span class=" has-text-black-ter">I don't have nickname</span>
                                        {% endif %}
                                    </div>
                            </div>
                            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                <div class="column is-2">
                                   <span class=" has-text-grey-light">gender</span>
                                </div>
                                <div class="column is-narrow">
                                    {% if user.userprofile %}
                                        <span class=" has-text-black-ter">{{ user.userprofile.get_gender_display }}</span>
                                    {% else %}
                                        <span class=" has-text-black-ter">Don't tell you</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                <div class="column is-2">
                                   <span class=" has-text-grey-light">Email</span>
                                </div>
                                <div class="column is-narrow">
                                    <span class=" has-text-black-ter">{{ user.email }}</span>
                                </div>
                            </div>
                            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                <div class="column is-2">
                                   <span class=" has-text-grey-light">Address</span>
                                </div>
                                <div class="column is-narrow">
                                    {% if user.userprofile %}
                                        <span class=" has-text-black-ter">{{ user.userprofile.address }}</span>
                                    {% else %}
                                        <span class=" has-text-black-ter">Don't tell you</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns" style="padding:1rem 0; ">
                        <div class="column is-2">
                            <p>About me</p>
                        </div>
                        <div class="column">
                            <div class="content">
                                {% if user.userprofile.bio %}
                                    {{ user.userprofile.bio }}
                                {% else %}
                                    He is so lazy that he is not willing to write anything.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endblock  %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>